@mainColor: #006699;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//顶部导航栏

.header {
    background-color: @mainColor;
    height: 45px;
    position: relative;

    >h4 {
        line-height: 45px;
        color: white;
        text-align: center;
        font-size: 18px;
        margin: 0;
        font-weight: normal;
    }

    a {
        color: white;
        font-size: 18px;
        position: absolute;
        right: 10px;
        top: 12px;
    }
}

